@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav #navbarText ul li{
    align-items: end;
} */
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
:root {
  --background: #000;
  --primary:#B055F8;
  --secondary: #78C475;
  --text: #fff;
}
body{
  background:var(--background);
  font-family: 'Poppins' sans-serif;
  min-height: 100vh;
}
.navbar{
  background-color: var(--background);
  
}
.nav_link{
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
opacity: 0.75;
}
.nav_link:hover {
  opacity: 1;
  cursor: pointer;
}

.nav_link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: white;
}
.nav_link_ltr::before {
  width: 0%;
  bottom: -2px;
}

.nav_link_ltr:hover::before {
  width: 100%;
}
.collapse.navbar-collapse ul{
  position: absolute;
  left: 69%;
  gap: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    min-height: 100vh;
    height: 770px;
}
.container .text{

  height: 450px;
  position: relative;
  left: 6%;
}
.container > .text .static_txt {
  color: var(--text);
  font-size: 50px;
}
.content h5{
  color: var(--text);
  font-size: 35px;
  width:20%;
  margin: auto;
  background-image: linear-gradient(45deg,var(--primary),var(--text));
}
.container > .text .dynamic_txt {
  color: var(--primary);
  font-size:50px;
  height:70px;
  overflow:hidden;
  margin-left:0 0 0 6px;
  padding-left: 5px;
  font-weight: bolder;
}
.text .dynamic_txt > li {
  list-style:none;
  font-weight:700;
  top:0;
  position: relative;
  animation: slide 12s steps(4) infinite;
}
.container .sideimg{
  position: absolute;
  left: 880px;
  top:70px
}
.container .sideimg img{
  width: 601px;
  height: 601px;
}
.text div{
  position: absolute;
  top: 70%;
}
@keyframes slide{
  100% {
    top: -290px;
  }
}
.text .dynamic_txt li span {
  margin:2px 0;
  line-height:70px;
}
.domain{
  position: absolute;
  top: 100%;
  width: 1069px;
  height: 40px;
  left: 10%;
  background-color: rgb(176,85,248,0.25);
  border-radius: 20px;
}
.domain p{
    color:var(--text);
    display: inline;
    text-align: center;

    padding: 10px 107px;
    
    background-blend-mode: lighten;
}
.content1 span, .content2 span{
  color: var(--secondary);
  font-weight: bolder;
}
.content h1{
    color: var(--secondary);
    font-size: 48px;
    text-align: center;
}
.content1 hr{
    width: 20%;
    border: 2px solid;
    color: var(--secondary);
    opacity: 1;
    margin: 10px auto;

}
hr{
  border: 2px solid;
  color: var(--secondary);
  opacity: 1;
}
.content1 p{
    color: var(--text);
    padding: 4% 10% ;
    font-size: 24px;
    margin: auto;
    text-align: center;
}

.sixPointers{
  width: 100%;
  height: 100px;
  background: #000;
  position: absolute;
  left: 0%;
}
.content2 h5{
  width: 460px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 36%;
  background: radial-gradient(var(--primary) 10%, black 50%);
  
  color: white;
}
.content2 p{
  font-size: 30px;
}
.text .dynamic_txt li span::after {
  position:absolute;
  content:'';
  left:0;
  height:100%;
  width:100%;
  line-height:70px;
  background:var(--background);
  border-left: 2px solid var(--primary);
  animation: typing 3s steps(10) infinite;
}
.container div{
    padding: 10px;
}
@keyframes typing {
  40%,60% {left: calc(60% + 10px);}
  100% {left:0;}
}
.sign-btn{
    background-color: var(--primary);
    border-color: var(--primary);
    margin-right: 30px;
}
.log-btn{
    background-color: none;
    border-color: var(--text);
    color: var(--text);
}
.sign-btn:hover{
  background-color:var(--background);
  color: var(--text);
  border-color: var(--text) ;
}
.log-btn:hover{
  background-color: var(--primary);
  border-color: var(--primary);
}
.content2{
  background: url(../jpg/Pointers2.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: top 20%;
        height: 2700px;
        
}
.pointers{
  position: relative;
  top: 4%;
  font-size: 24px;

}
.pointers img{
  width: 53px;
  height: 53px;
}
.odd{
  color: var(--text);
  z-index: 111;
  position: relative;
  left: 5%;
  /* height: 570px; */
  width: 860px;
  border-radius: 100px;
  margin: 20px;
  padding: 80px;
  background: linear-gradient(to bottom,rgb(176,85,248,0.25), rgba(255, 255, 255, 0.25));
}
.even{
  /* opacity: 25%; */
  color: var(--text);
  z-index: 111;
  position: relative;
  right: 13%;
  /* height: 570px; */
  width: 860px;
  border-radius: 100px;
  margin: 100px 600px;
  padding: 80px;
  background: linear-gradient(to bottom,rgb(176,85,248,0.25), rgba(255, 255, 255, 0.25));
}
.about{
  text-align: center;
  color: var(--secondary);
  font-size: 60px;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
 .active{
  transform: translateY(0px);
  opacity: 1;
}
.circle1{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #78C475;
  position: absolute; 
  left: 90%;
  top: 66.5%;
}
.circle2{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #78C475;
  position: absolute; 
  left: 7.5%;
  top: 62.5%;
}
.three{
  position: absolute;
  top:69.5%;
}
